<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts :: header"></head>

<body>

<!--using 'nav' here since it's declared like that in layouts.html-->
<!--This line will invoke the navbar that declared in layouts.html-->
<nav th:replace="layouts :: foo"></nav>

    <div>
    <h4>Current Projects</h4>
        <table>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Stage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aProject : ${projectsList}">
                    <td th:text="${aProject.name}" />
                    <td th:text="${aProject.stage}" />
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>
    <div>
        <h4>Current Employees</h4>
        <table>
            <thead>
            <tr>
                <th>EmployeefirstName</th>
                <th>EmployeelastName</th>
                <th>Employeeemail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aEmployee : ${EmployeesList}">
                <td th:text="${aEmployee.firstName}" />
                <td th:text="${aEmployee.lastName}" />
                <td th:text="${aEmployee.email}" />
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

