<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<!--'foo' as a name here is only for practice purpose, it is the navbar-->
<nav th:fragment="foo" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Project IO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../templates/main/home.html">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="CurrentProjects">
    <h4>Current Projects</h4>
    <table>
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projectsList}">
            <td th:text="${aProject.name}" />
            <td th:text="${aProject.stage}" />
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="CurrentEmployees">
    <h4>Current Employees</h4>
    <table>
        <thead>
        <tr>
            <th>EmployeefirstName</th>
            <th>EmployeelastName</th>
            <th>Employeeemail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aEmployee : ${EmployeesList}">
            <td th:text="${aEmployee.firstName}" />
            <td th:text="${aEmployee.lastName}" />
            <td th:text="${aEmployee.email}" />
        </tr>
        </tbody>
    </table>
</div>



</html>