<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--Invoke the Required meta tags and Bootstrap CSS from layouts.html-->
<head th:replace="layouts :: header"></head>

<title>Current Employees</title>

<body>

<!--using 'nav' here since it's declared like that in layouts.html-->
<!--This line will invoke the navbar that declared in layouts.html-->
<nav th:replace="layouts :: foo"></nav>

<div class="container">
    <h3>Employees Directory</h3>
    <hr>

    <!--    Add new Employee Button-->
    <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>
    <br><br>

    <!--    A table for the existing employees-->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aEmployee : ${EmployeesList}">
            <td th:text="${aEmployee.firstName}" />
            <td th:text="${aEmployee.lastName}" />
            <td th:text="${aEmployee.email}" />
        </tr>
        </tbody>
    </table>
</div>

<!--Invoke the CurrentEmployees component from layouts.html-->
<!--<div th:replace="layouts :: CurrentEmployees"></div>-->

</body>
</html>

