<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--Invoke the Required meta tags and Bootstrap CSS from layouts.html-->
<head th:replace="layouts :: header"></head>

<title>Current Projects</title>

<body>

<!--using 'nav' here since it's declared like that in layouts.html-->
<!--This line will invoke the navbar that declared in layouts.html-->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <hr>
    <h3>Projects Directory</h3>
    <hr>

    <!--    Add new Employee Button-->
    <a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">
        Add Project
    </a>
    <br><br>

    <!--    A table for the existing projects-->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stage</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projectsList}">
            <td th:text="${aProject.name}" />
            <td th:text="${aProject.description}" />
            <td th:text="${aProject.stage}" />
        </tr>
        </tbody>
    </table>
</div>

<!--Invoke the CurrentEmployees component from layouts.html-->
<!--<div th:replace="layouts :: CurrentProjects"></div>-->

</body>
</html>

