<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--Invoke the Required meta tags and Bootstrap CSS from layouts.html-->
<head th:replace="layouts :: header"></head>

<title>Projects</title>

<body>

<!--using 'nav' here since it's declared like that in layouts.html-->
<!--This line will invoke the navbar that declared in layouts.html-->
<nav th:replace="layouts :: foo"></nav>

    <div class="mx-auto" style="width: 400px;">
        <hr>
        <div class="text-center">New Project Form</div>
        <form class="px-4 py-3" action="/projects/save" th:object="${project}" method="POST">
        <input class="form-control" type="text" placeholder="Project Name" th:field="${project.name}">
            <br>
        <select class="btn btn-primary" th:field="${project.stage}">
            <option th:value="NOTSTARTED">Not Started</option>
            <option th:value="INPROGRESS">In Progress</option>
            <option th:value="COMPLETED">Completed</option>
        </select>
            <br><br>
        <textarea class="form-control" type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
            <br>
        <button class="btn btn-primary" type="submit">Create Project</button>
        </form>
    </div>
</body>
</html>
